name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Test Container Image
    runs-on: ubuntu-latest

    # Run a local registry to push to
    services:
      registry:
        image: registry:2
        ports:
          - 5001:5000

    env:
      TEST_TAG: localhost:5001/actions/container-prebuilt-action:latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Docker BuildX
        id: setup-buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver-opts: network=host

      - name: Build the Container
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ env.TEST_TAG }}

      - name: Pull tests
        id: tests
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: jobtrek/sw
          ref: v0.6.0

      - name: Run the Container
        id: run
        env:
          INPUT_PATH: 'test/test'
          INPUT_LANG: 'rs,js,ts,java,php'
        run: |
          docker run \
            --volume ${{ github.workspace }}:/github/workspace \
            --env INPUT_PATH="$INPUT_PATH" \
            --env INPUT_LANG="$INPUT_LANG" \
            --rm \
            ${{ env.TEST_TAG }}

      - name: Test if the test passed
        id: check
        run: |
          tree test
          if diff -rq test/test test/expected; then
            echo "Test passed"
          else
            echo "Test failed"
            diff -r test/test test/expected
            exit 1
          fi
